matplotlib == 3.10.6
numpy == 2.3.2
pandas == 2.3.2
plotly
sklearn == 1.7.1
seaborn
xgboost
joblib
pickle
graphviz
fastapi
pickle
joblib
starlette
pydantics
optuna
torch
torchviz
shap 
scipy
tensorflow==2.15.0
Jinja2